<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app | Node js

    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="main">
        <form class="container" method="post" action="http://localhost:3000/save">
            <div class="title">Todo App</div>
            <div class="descriptionBox">
                <span>Description</span>
                <input type="text" name="description" id="description" value="" placeholder="What do you need to do?"
                    autocomplete="off" required>
            </div>
            <div class="box">
                <div class="categoryBox">

                    <label for="cat">Category</label>
                    <select name="cat" value="" id="cat" required>
                        <option value="">Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>

                </div>
                <div class="dateBox">
                    <span>Due Date</span>
                    <input type="date" name="date" value="" id="date" required>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="add saveItems">
                    <i class="fa-solid fa-plus"></i>
                    <span>ADD TASK</span>
                </button>
                <button class="delete deleteItems">

                    <i class="fa-solid fa-trash-can"></i>
                    <span>DELETE TASKS</span>

                </button>
            </div>
            <div class="allTodos">
                <% for(var i=0; i<data.length; i++) {%>
                    <div class="todo">
                        <div class="left">

                            <div class="form-check">
                                <input class="form-check-input" name="selection" type="checkbox" value=""
                                    id='<%= data[i]._id %>'>

                            </div>
                            <div class="desc">
                                <div class="name">
                                    <%= data[i].description %>
                                </div>
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <div class="dateItem">
                                        <%= data[i].date %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="categoryButton">
                                <%= data[i].category %>
                            </div>
                        </div>
                    </div>
                    <% } %>

            </div>
        </form>

    </div>



    <script src="/js/home.js">

    </script>

</body>

</html>